name: Static Code Checkers

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  Linting-Typing-Docs-Checks:
    runs-on: ubuntu-latest
    steps:
      - name: Check out with submodules
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Truncate pyproject for hashing
        run: |
          sed -n '1,/#\{80\}/p' pyproject.toml > pyproject-hash.toml
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
          cache: 'pip'
          cache-dependency-path: pyproject-hash.toml
      - name: Cache mypy_cache
        uses: actions/cache@v4
        with:
          path: .mypy_cache
          key: mypy_cache-${{ hashFiles('pyproject-hash.toml') }}
          restore-keys: mypy_cache-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
          bash ./benchmark/install_submodule.sh all
      - name: black
        run: bash scripts/check.sh black
      - name: isort
        run: bash scripts/check.sh isort
      - name: pydocstyle
        run: bash scripts/check.sh pydocstyle
      - name: pylint
        run: bash scripts/check.sh pylint
      - name: mypy
        run: bash scripts/check.sh mypy
