name: Testing

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - cirkit/**
      - tests/**
  workflow_dispatch:

jobs:
  Unit-Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Truncate pyproject for hashing
        run: |
          sed -n '1,/#\{80\}/p' pyproject.toml > pyproject-hash.toml
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: pyproject-hash.toml
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Run Pytest with Coverage
        run: |
          ./scripts/coverage.sh --xml
      - name: Upload coverage reports to Codecov
        if: ${{ github.event_name == 'push' && (github.event.push.ref == github.event.repository.default_branch) }}
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
